html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
}

body {
    margin-bottom: 60px;
    color: #000; /* основной текст Ч чисто чЄрный */
    margin: 0; /* убираем дефолтные отступы браузера */
    overflow-x: hidden; /* на случай микровылаза по ширине */
}

/* „тобы Ђплашкаї справа не выгл€дела тусклой на фоне чЄрного текста */
.main-hero .bg-light {
    background-color: #f8f9fa;
}

/* јкцентна€ подпись сверху, чтобы не была серой */
.section-label {
    color: #000;
}

.navbar.sticky-top {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.06);
}

/* ћ€гкий серый hover как у Bootstrap table-hover */
.hover-gray {
    transition: background-color .12s ease-in-out;
}

    .hover-gray:hover {
        background-color: #f8f9fa;
    }

/* Hover на элементах list-group (как "строки") */
.list-group-item.hover-gray:hover {
    background-color: #f8f9fa;
}
