<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Анализ хэш-функций</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Complex_for_analyzing_hash_functions.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom sticky-top">
            <div class="container">
                <a class="navbar-brand fw-semibold" asp-controller="Home" asp-action="Index">
                    Анализ хэш-функций
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarMain" aria-controls="navbarMain"
                        aria-expanded="false" aria-label="Переключить навигацию">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="HashTest" asp-action="Index">Запуск тестирования</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="HashResults" asp-action="Index">Результаты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="flex-grow-1">
        <div class="container my-3">
            @RenderBody()
        </div>
    </main>


    <footer class="border-top bg-white mt-auto">
        <div class="container py-1">
            <div class="d-flex justify-content-between align-items-center">
                <div class="text-muted small mb-0">
                    © @DateTime.Now.Year — Комплекс для анализа хэш‑функций
                </div>
                <div class="text-muted small mb-0">
                    ВКР
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
